<div class="signature">
    <span class="name_signature">Комментарии</span>
</div>
<div class="box_comment">
    <div class="comment_info">
        <span class="name_commentator">Анноним:</span>
        <p class="card_date">01.04.2021</p>
    </div>
    <p class="content_comment">Спасибо, давно искал такой ресурс!</p>
    <button class="answer_comment">Ответить</button>
</div>
<div class="box_comment">
    <div class="comment_info">
        <span class="name_commentator">Ирина:</span>
        <p class="card_date">01.04.2021</p>
    </div>
    <p class="content_comment">Отличный материал по сценарному мастерству</p>
    <button class="answer_comment">Ответить</button>
</div>
<form class="form_comment">
    <textarea name="comment" id="comment" cols="45" rows="8" placeholder="Комментарий:"></textarea>
    <input type="text" name="commentator" id="commentator_txt" placeholder="Имя:">
    <input type="text" name="email" id="email_txt" placeholder="Почта:">
    <button class="leave_comment">Отправить</button>
</form>
