<footer class="footer">
    <div class="footer_first">
        <a href="#" class="footer_link"><i class="fab fa-vk"></i></a>
        <a href="#" class="footer_link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer_link"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="footer_link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer_link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer_link"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="footer_second">
        <a href="#" class="a_link footer_second">Разработка сайта Georgiy Kim</a>
    </div>
</footer>
