{%- import "macros.njk" as macros -%}

<div class="menu">
    <button class="menu_close">
        <i class="fas fa-times"></i>
    </button>
    <div class="expansion_panel">
        <div class="expansion_panel_header">
            <a class="expansion_panel_link" href="/aboutmovies">О КИНО</a>
            <button class="expansion_panel_button">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div class="expansion_panel_body">
            <div class="expansion_panel_content">
                <a class="menu_link" href="/essays">эссе</a>
                <a class="menu_link" href="/masterClases">мастер класс</a>
                <a class="menu_link" href="/backStages">backstage</a>
                <a class="menu_link" href="/interviews">интервью</a>
                {# <a class="menu_link" href="/podcast">подкаст</a>
                <a class="menu_link" href="/literature">литература</a> #}
            </div>
        </div>
    </div>
    <a class="menu_link" href="/screenplays">СЦЕНАРИИ</a>
    <a class="menu_link" href="/okolokinos">ОКОЛО КИНО</a>
    {# <div class="expansion_panel">
        <div class="expansion_panel_header">
            <a class="expansion_panel_link" href="/screenplays">СЦЕНАРИИ</a>
            <button class="expansion_panel_button">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div class="expansion_panel_body">
            <div class="expansion_panel_content">
                <a class="menu_link" href="#">на русском</a>
                <a class="menu_link" href="#">на английском</a>
            </div>
        </div>
    </div>
    <div class="expansion_panel">
        <div class="expansion_panel_header">
            <a class="expansion_panel_link" href="#">ОКОЛО КИНО</a>
            <button class="expansion_panel_button">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div class="expansion_panel_body">
            <div class="expansion_panel_content">
                <a class="menu_link" href="#">клипы</a>
                <a class="menu_link" href="#">реклама</a>
            </div>
        </div>
    </div> #}
    <a class="menu_link" href="/frames">КАДРЫ</a>
</div>
<div class="header">
    <div class="header_wrapper">
        <div class="header_container">
            <div class="header_line">
                <button class="header_hamburger">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="header_logo">
                    <div class="logo">
                        <a href="/index.html" class="nav_link1">КИНОКЛАН</a>
                    </div>
                </div>
                <div class="header_nav">
                    <ul class="nav_list1">
                        <li class="nav_item1">
                            <a href="/aboutmovies" class="nav_link1">О КИНО</a>
                            <div class="nav_wrapper">
                                <div class="categories">
                                    <ul class="nav_list2">
                                        <li class="nav_item2 nav_item2_active">
                                            <a class="nav_link2" href="/essays" data-target="#essays">
                                                Эссе
                                            </a>
                                        </li>
                                        <li class="nav_item2">
                                            <a class="nav_link2" href="/masterclases" data-target="#masterClass">
                                                Мастер Класс
                                            </a>
                                        </li>
                                        <li class="nav_item2">
                                            <a class="nav_link2" href="/backstages" data-target="#backStage">
                                                Backstage
                                            </a>
                                        </li>
                                        <li class="nav_item2">
                                            <a class="nav_link2" href="/interviews" data-target="#interview">
                                                Интервью
                                            </a>
                                        </li>
                                        {# <li class="nav_item2">
                                            <a class="nav_link2" href="/podcast" data-target="#podcast">
                                                Подкаст
                                            </a>
                                        </li>
                                        <li class="nav_item2">
                                            <a class="nav_link2" href="/literature" data-target="#literature">
                                                Литература
                                            </a>
                                        </li> #}
                                    </ul>
                                </div>
                                <div class="nav_container">
                                    <div class="cards" id="essays">
                                        {%- for item in menu.categories.essays -%}
                                            {{ macros.card(item, "essay") }}
                                        {%- endfor -%}
                                    </div>
                                    <div class="cards cards_hidden" id="masterClass">
                                        {%- for item in menu.categories.masterClass -%}
                                            {{ macros.card(item, "masterclass") }}
                                        {%- endfor -%}
                                    </div>
                                    <div class="cards cards_hidden" id="backStage">
                                        {%- for item in menu.categories.backStage -%}
                                            {{ macros.card(item, "backstage") }}
                                        {%- endfor -%}
                                    </div>
                                    <div class="cards cards_hidden" id="interview">
                                        {%- for item in menu.categories.interview -%}
                                            {{ macros.card(item, "interview") }}
                                        {%- endfor -%}
                                    </div>
                                    {# <div class="cards cards_hidden" id="podcast">
                                        {%- for item in menu.categories.podcast -%}
                                            {{ macros.card(item) }}
                                        {%- endfor -%}
                                    </div>
                                    <div class="cards cards_hidden" id="literature">
                                        {%- for item in menu.categories.literature -%}
                                            {{ macros.card(item) }}
                                        {%- endfor -%}
                                    </div> #}
                                </div>
                            </div>
                        </li>
                        <li class="nav_item1">
                            <a href="/screenplays" class="nav_link1">
                                СЦЕНАРИИ
                            </a>
                            <div class="nav_wrapper">
                                <div class="cards">
                                    {%- for item in menu.screenplays -%}
                                        {{ macros.card(item, "screenplay") }}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </li>
                        <li class="nav_item1">
                            <a href="/okolokinos" class="nav_link1">
                                ОКОЛО КИНО
                            </a>
                            <div class="nav_wrapper">
                                <div class="cards">
                                    {%- for item in menu.okolokinos -%}
                                        {{ macros.card(item, "okolokino") }}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </li>
                        <li class="nav_item1">
                            <a href="/frames" class="nav_link1">
                                КАДРЫ
                            </a>
                            <div class="nav_wrapper">
                                <div class="cards">
                                    {%- for item in menu.frames -%}
                                        {{ macros.card(item, "frame") }}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </li>
                        {# <li class="nav_item1">
                            <a href="#" class="nav_link1">
                                ОКОЛО КИНО
                            </a>
                        </li>
                        <li class="nav_item1">
                            <a href="#" class="nav_link1">
                                КАДРЫ
                            </a>
                        </li> #}
                    </ul>
                </div>
            </div>
            <div class="header_line">
                <form class="search_box">
                    <input type="text" name="search" id="search_txt" placeholder="search">
                    <button>Поиск</button>
                </form>
            </div>
        </div>
        <button class="search_btn1">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>
