{# card #}

{% macro card(data, path) %}
<div class="card">
    <a href="/content/{{ path }}/{{ data.title | translit | slug }}" class="card_link">
        <img src="{{ data.imageSmall }}" alt="" class="card_image">
    </a>
    <a href="/content/{{ path }}/{{ data.title | translit | slug }}" class="card_link">
        <p class="card_text">
        {{ data.title }}
        </p>
    </a>
</div>
{% endmacro %}


{# box_left #}

{% macro box_left(data) %}
<div class="box_left">
    <div class="card_with_title">
        <a href="/content/essay/{{ data.titleCard | translit | slug }}" class="card_link">
            <img src="{{ data.imageCrop }}" alt="" class="card_image">
            <p class="title_categories">
                {{ data.titleCategories }}
            </p>
        </a>
    </div>
    <a href="/content/essay/{{ data.titleCard | translit | slug }}" class="card_link">
        <h3 class="title_card">
            {{ data.titleCard }}
        </h3>
    </a>
    <div class="card_info">
        <p class="card_date">
            {{ data.date }}
        </p>
        <div class="number_comments">
            {{ data.numberComments }}
        </div>
    </div>
    <p class="card_description">
        {{ data.description }}
    </p>
</div>
{% endmacro %}


{# box_small #}

{% macro box_small(data) %}
<div class="box_small">
    <a href="/content/essay/{{ data.titleCard | translit | slug }}" class="card_link">
        <img src="{{ data.imageCrop }}" alt="" class="card_image">
    </a>
    <div class="content_small">
        <a href="/content/essay/{{ data.titleCard | translit | slug }}" class="card_link">
            <h3 class="title_card">
                {{ data.titleCard }}
            </h3>
        </a>
        <div class="card_info">
            <p class="title_categories">
                {{ data.titleCategories }}
            </p>
            <p class="card_date">
                {{ data.date }}
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{# four #}

{% macro four_card(data) %}
<div class="four_card card_with_title">
    <a href="/content/frame/{{ data.titleCard | translit | slug }}" class="card_link">
        <img src="{{ data.imageFour }}" alt="" class="card_image">
        <p class="title_categories">
            {{ data.titleCategories }}
        </p>
    </a>
</div>
{% endmacro %}


{# box_general #}

{% macro box_general(data) %}
<div class="box_general">
    <div class="card_with_title">
        <a href="/content/screenplay/{{ data.titleCard | translit | slug }}" class="card_link">
            <img src="{{ data.imageCrop }}" alt="" class="card_image">
            <p class="title_categories">
                {{ data.titleCategories }}
            </p>
        </a>
    </div>
    <a href="/content/screenplay/{{ data.titleCard | translit | slug }}" class="card_link">
        <h3 class="title_card">
            {{ data.titleCard }}
        </h3>
    </a>
    <div class="card_info">
        <p class="card_date">
            {{ data.date }}
        </p>
        <div class="number_comments">
            {{ data.numberComments }}
        </div>
    </div>
</div>
{% endmacro %}


{# box_screenplay #}

{% macro box_screenplay(data) %}
<div class="box_screenplay">
    <p class="screenplay_description">
        {{ data.bigDescription }}
    </p>
    <span class="author">
        Режиссер:
        {{ data.director }}
    </span>
    <span class="author">
        Автор сценария:
        {{ data.writer }}
    </span>
    <div class="card_info">
        <p class="card_date">{{ data.date }}</p>
    </div>
    <a href="{{ data.screenplay }}" download="{{ data.titleArticle }}.pdf" class="install_doc">Скачать сценарий в .pdf</a>
</div>
{% endmacro %}


{# article_head #}

{% macro article_head(data) %}
<div class="article_head">
    <img class="image_article" src="{{ data.image }}" alt="">
    <div class="article_info">
        <h1 class="title_article">{{ data.titleArticle }}</h1>
        <span class="text_article">{{ data.textArticle }}</span>
    </div>
</div>
{% endmacro %}



{# box_other #}

{% macro box_other(data, path) %}
<div class="box_other">
    <div class="side_image">
        <div class="card_with_title">
            <a href="/content/{{ path }}/{{ data.titleCard | translit | slug }}" class="card_link">
                <img src="{{ data.imageCrop }}" alt="" class="card_image">
                <p class="title_categories">
                    {{ data.titleCategories }}
                </p>
            </a>
        </div>
    </div>
    <div class="side_info">
        <a href="/content/{{ path }}/{{ data.titleCard | translit | slug }}" class="card_link">
            <h3 class="title_card">{{ data.titleCard }}</h3>
        </a>
        <div class="card_info">
            <p class="card_date">{{data.date}}</p>
            <div class="number_comments">{{ data.numberComments }}</div>
        </div>
        <p class="card_description">{{ data.description }}</p>
        <a href="/content/{{ path }}/{{ data.titleCard | translit | slug }}" class="read">Читать</a>
    </div>
</div>
{% endmacro %}



{# video #}

{% macro video(data) %}
<div class="video_info">
    <p class="video_description">{{ data.bigDescription }}</p>
    <span class="author">
        Режиссер: {{ data.director }}
    </span>
    <span class="author">
        Автор сценария: {{ data.writer }}
    </span>
</div>
<div class="box_video">
    <iframe class="video" src="{{ data.linkVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endmacro %}


{# frame #}

{% macro frame(data) %}
<div class="frame_info">
    <p class="frame_description">{{ data.bigDescription }}</p>
    <span class="author">Режиссер: {{ data.director }}</span>
    <span class="author">Оператор: {{ data.operator }}</span>
</div>
<div class="box_frame">
    {%- for image in data.images -%}
       <img src="{{ image }}" alt="" class="card_image">
    {%- endfor -%}
</div>
{% endmacro %}


{# data-aos="fade-up" плавное появление блоков #}
