<div class="sidebar">
    <div class="box_sidebar">
        <div class="signature">
            <span class="name_signature">Метки</span>
        </div>
        <div class="labels">
            <div class="label">
                <a href="/actors" class="card_link">
                    <h3 class="name_label">Актерское мастерство</h3>
                </a>
            </div>
            {# <div class="label">
                <a href="#" class="card_link">
                    <h3 class="name_label">Анимация</h3>
                </a>
            </div> #}
            <div class="label">
                <a href="/sounds" class="card_link">
                    <h3 class="name_label">Звук и музыка</h3>
                </a>
            </div>
            <div class="label">
                <a href="/edits" class="card_link">
                    <h3 class="name_label">Монтаж</h3>
                </a>
            </div>
            <div class="label">
                <a href="/operators" class="card_link">
                    <h3 class="name_label">Операторская работа</h3>
                </a>
            </div>
            {# <div class="label">
                <a href="#" class="card_link">
                    <h3 class="name_label">Продюссирование</h3>
                </a>
            </div> #}
            <div class="label">
                <a href="/directors" class="card_link">
                    <h3 class="name_label">Режиссура</h3>
                </a>
            </div>
            <div class="label">
                <a href="/writers" class="card_link">
                    <h3 class="name_label">Сценарное мастерство</h3>
                </a>
            </div>
            <div class="label">
                <a href="/arts" class="card_link">
                    <h3 class="name_label">Художественная постановка</h3>
                </a>
            </div>
            {# <div class="label">
                <a href="#" class="card_link">
                    <h3 class="name_label">Цвет</h3>
                </a>
            </div> #}
        </div>
    </div>
</div>
