{%- import "macros.njk" as macros -%}

{# вот этот точно работает #}
{# {%- for item in aboutMovies -%}
    {{ macros.box_other(item, "aboutmovie") }}
{%- endfor -%} #}



{%- for item in operators -%}
    {{ macros.box_other(item, "operator") }}
{%- endfor -%}

{%- for item in actors -%}
    {{ macros.box_other(item, "actor") }}
{%- endfor -%}

{%- for item in directors -%}
    {{ macros.box_other(item, "director") }}
{%- endfor -%}

{%- for item in writers -%}
    {{ macros.box_other(item, "writer") }}
{%- endfor -%}

{%- for item in edits -%}
    {{ macros.box_other(item, "edit") }}
{%- endfor -%}

{%- for item in arts -%}
    {{ macros.box_other(item, "art") }}
{%- endfor -%}

{%- for item in sounds -%}
    {{ macros.box_other(item, "sound") }}
{%- endfor -%}


{%- for item in frames -%}
    {{ macros.box_other(item, "frame") }}
{%- endfor -%}

{%- for item in interviews -%}
    {{ macros.box_other(item, "interview") }}
{%- endfor -%}

{%- for item in masterClases -%}
    {{ macros.box_other(item, "masterclass") }}
{%- endfor -%}

{%- for item in okolokinos -%}
    {{ macros.box_other(item, "okolokino") }}
{%- endfor -%}

{%- for item in backStages -%}
    {{ macros.box_other(item, "backstage") }}
{%- endfor -%}
