---
layout: page.njk
permalink: frames/index.html
---

{%- include "header.njk" -%}
<div class="parallax parallax_frames">
    <h1 class="title_article">Кинокадры</h1>
    <span class="text_article">Лучшие кадры из известных фильмов</span>
</div>
<div class="other_container">
    <div class="main">
        <div class="box">
            <div class="index_primory">
                <div class="signature">
                    <span class="name_signature">Кадры</span>
                </div>
                {%- include "template_frames.njk" -%}
            </div>
        </div>
        {%- include "sidebar.njk" -%}
    </div>
</div>
{%- include "footer.njk" -%}
