---
layout: page.njk
permalink: interviews/index.html
---


{%- include "header.njk" -%}
<div class="parallax parallax_interviews">
    <h1 class="title_article">Узнай своих кумиров</h1>
    <span class="text_article">Здесь вы найдете интервью от лучших профессионалов индустрии</span>
</div>
<div class="other_container">
    <div class="main">
        <div class="box">
            <div class="index_primory">
                <div class="signature">
                    <span class="name_signature">Интервью</span>
                </div>
                {%- include "template_interviews.njk" -%}
            </div>
        </div>
        {%- include "sidebar.njk" -%}
    </div>
</div>
{%- include "footer.njk" -%}
