---
layout: page.njk
permalink: operators/index.html
---


{%- include "header.njk" -%}
<div class="parallax parallax_operators">
    <h1 class="title_article">Профессия кинооператор</h1>
    <span class="text_article">Здесь вы найдете лучшие материалы по операторскому мастерству</span>
</div>
<div class="other_container">
    <div class="main">
        <div class="box">
            <div class="index_primory">
                <div class="signature">
                    <span class="name_signature">Эссе</span>
                </div>
                {%- include "template_operators.njk" -%}
            </div>
        </div>
        {%- include "sidebar.njk" -%}
    </div>
</div>
{%- include "footer.njk" -%}
