---
layout: page.njk
permalink: sounds/index.html
---


{%- include "header.njk" -%}
<div class="parallax parallax_sounds">
    <h1 class="title_article">Попробуй это услышать</h1>
    <span class="text_article">Здесь вы найдете лучшие материалы о музыке и звуке в кино</span>
</div>
<div class="other_container">
    <div class="main">
        <div class="box">
            <div class="index_primory">
                <div class="signature">
                    <span class="name_signature">Эссе</span>
                </div>
                {%- include "template_sounds.njk" -%}
            </div>
        </div>
        {%- include "sidebar.njk" -%}
    </div>
</div>
{%- include "footer.njk" -%}
