<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Киноклан</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="icon" href="{{ '/images/clapperboard.svg' | url }}">
    <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
</head>
<body>
    {{ content | safe }}
    <button class="page-up page-up--hidden">
        <i class="fas fa-chevron-up"></i>
    </button>
    <script src="{{ '/scripts/main.js' | url }}"></script>
    <script src="{{ '/scripts/page-up.js' | url }}"></script>
</body>
</html>
